<ul>
  <% @todos.each do |task| %>
    <li>
    <a href="/todos/<%= task[0] %>/edit"> <%= task[1] %> </a>
    </li>
  <% end %>
</ul>

<form action="/todos" method="POST">
  <input type="text" name="title" placeholder="新しいTODOを入力">
  <input type="submit" value="追加">
</form>